<div class="container w-medium mt-8">
  <nav class="tabs">
    <a href="/feed" class="tab <%= request.path == '/feed' ? 'text-lg text-secondary font-bold border-b-4 border-secondary' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Feed</a>
    <a href="/about" class="tab <%= request.path == '/about' ? 'text-lg text-secondary font-bold border-b-4 border-secondary' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">About</a>
    <a href="/projects" class="tab <%= request.path == '/projects' ? 'text-lg text-secondary font-bold border-b-4 border-secondary' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Projects</a>
    <a href="/guestbook" class="tab <%= request.path == '/guestbook' ? 'text-lg text-secondary font-bold border-b-4 border-secondary' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Guestbook</a>
  </nav>
</div>
